/* .dropdown-button {
	background-color: red !important;
	box-shadow: none !important;
}

.dropdown-font-family {
	box-shadow: none !important;
}

.dropdown-icon {
	box-shadow: none !important;
}

.expanded {
	box-shadow: none !important;
} */
<<<<<<< HEAD
=======
.main-body { 
	margin: 0px;
}
>>>>>>> 3f4ef8d1ea625d59bb1535de2332b83c95125e54
.dropdown-menu {
	height: 200px;
	overflow-y: scroll;
}
<<<<<<< HEAD
=======
.main-body { 
	display: flex;
}
.side-menu-container {
	position:inherit;
	height: 100vh; 
	width: 100px; 
	/* background-color: #f8f9fa; */
	/* background-color: #eee; */
	padding: 0px; 
	/* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
	overflow-y: auto;
	min-width: 100px;
}
.properties-menu-container { 
	flex: 1;
	padding: 15px 0px 0px 15px;
}
.editor-container { 
	padding: 15px;
}
>>>>>>> 3f4ef8d1ea625d59bb1535de2332b83c95125e54
